/*Estructura de css 
selector{ 
    propiedad:valor
}
*/

body {
    background-color: rgb(245, 223, 212);
}

h1,
h2,
h3 {
    text-align: center;
}

header {
    background-image: url('../img/portada.jpg');
    height: 250px;
    display: flex;
    justify-content: center;
}

header h1 {
    text-align: initial;
}

header h1 {
    background-color: rgba(255, 180, 251, 0.514);
    padding: 10px;
    width: 350px;
    height: 40px;
}

nav {
    background-color: rgb(133, 0, 73);
    height: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
}

nav ol li {
    background-color: rgba(100, 22, 48, 0.432);
    display: inline;
    color: white;
    padding: 015px;
    margin: 0px 10px;
}

article {
    padding-top: 90px;
    background: rgb(247, 184, 155);
    width: 96%;
    margin-left: 2%;
}

nav ol li a {
    text-decoration: none;
    color: white
}

nav ol li:hover {
    background-color: rgb(180, 46, 120);
    color: black;
    box-shadow: 5px 3px 5px rgba(156, 10, 78, 0.644);
}

nav ol li a:hover {
    color: rgb(255, 195, 208);
}